Section: misc
Priority: optional
Package: selenium-service
Version: 1.0.#build
Maintainer: Arbuzov <info@whitediver.com>
Architecture: all
Depends: mc, sudo, open-jdk
Recommends: jenkins
Description: selenium service deploy and run service
 some new txt
